// Variables
$website-width: 1280px;
// $main-color: #ffbc00;
// $light-color: #f4f4f4;
$main-color: #0D2D32;
$light-color: #AFE6AF;
$other-color: #bdcba7;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url('../img/na_poli.jpg');

// Set Text Color
@function set-text-color($color) {
  @if(lightness($color) > 50) {
    @return $light-color;
  } @else {
    @return $light-color;
  }
}