@import 'config';
@import 'utilities';
@import 'item_grid';


//General Styles
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}
          
h2, h3, h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 160px;
  height: 100%;
}

// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    padding-bottom: 0.5rem;
    transition: border-color 0.3s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $light-color;
    }
  }
}

// Header
#header {
  // Header Home
  &-home {
    background: $bg-image no-repeat center center / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        color: $other-color;
        font-size: 4rem;
        line-height: 1.2;
      }

      a {
        margin-top: 2rem;
      }
    }
  }

  // Header Inner
  &-inner {
    background: $bg-image no-repeat center 5% / cover;
    height: 5.5rem;
    border-bottom: 3px solid $light-color;
  }
}

// Home Sections
#home {
  // Home Section A
  &-a {
    background: #f4f4f4;
    color: $main-color;

    .specials {
      display: none; //I dont really know what to write there
      margin-top: 3rem;
      // display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas {
        color: $light-color;
        padding-bottom: 0.4rem;
      }
    }
  }

  // Home Section B
  &-b {
    background: $main-color;
    color: $light-color;

    .stack {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      li {
        line-height: 1.2;
        font-size: 1.2rem;

        &.stats-title {
          font-size: 2rem;
        }
      }

      > div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
          color: $main-color;

          .bottom-line {
            background: $main-color;
          }
        }

        .bottom-line {
          margin-top: 0.5rem;
        }
      }
    }
  }

  &-c {
    margin-top: 3rem;
    display: flex;

    .social-list {
      display: flex;
    }

    li {
      list-style: none;
      margin: 1rem;
      text-align: center;
      width: 10rem;
      
      p {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-1.5rem);
        transition: all 0.2s ease-in-out;
      }

      a {
        color: $main-color;
        transition: all 0.2s ease-in-out;

        i {
          font-size: 4rem;
          margin-bottom: 1rem;
        }

        &:hover {
          color: $light-color;

          & ~ p {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }

    }
  }
}

// About Sections
#about {
  &-a {
    .about-info {
      display: flex;
      justify-content: space-between;

      .bio-image {
        margin-right: 1.2rem;
      }

      .bio {
        border-left: 3px solid $main-color;
        padding: 2rem;

        h4 {
          font-size: 1.2rem;
        }

        p {
          margin: 1rem 0;
        }
      }
    }
  }

  &-b {
    // Create Line
    li {
      background: $main-color;
      list-style: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 2rem;

      // Boxes
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 1rem;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;

        /* Arrow Base */
        &:before {
          content: '';
          position: absolute;
          bottom: 5px;
          width: 0;
          height: 0;
          border-style: solid;
        }
      }

      /* Right Side */
      &:nth-child(odd) div {
        left: 40px;
        transform: translateX(200px);
      }

      /* Left Side */
      &:nth-child(even) div {
        left: -464px;
        transform: translateX(-200px);
      }

      /* Dots */
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 25px;
        height: 25px;
        background: inherit;
        transform: translateX(-50%);
        border-radius: 50%;
        transition: background 0.5s ease-in-out;
      }

      /* Right Side Arrow */
      &:nth-child(odd) div:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $light-color transparent transparent;
      }

      /* Left Side Arrow */
      &:nth-child(even) div:before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $light-color;
      }

      /* Show Boxes */
      &.show div {
        visibility: visible;
        opacity: 1;
        transform: none;
      }

      &.show:after {
        background: $other-color;
      }
    }
  }
}

// Contact Page
#contact {
  &-a {
    .text-fields {
      display: grid;
      grid-template-areas: 
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;

      // Grid Areas
      .name-input {
        grid-area: name;
      }
      .email-input {
        grid-area: email;
      }
      .subject-input {
        grid-area: subject;
      }
      .phone-input {
        grid-area: phone;
      }
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
        border: 2px solid $light-color;
      }
    }

    button[type='submit'] {
      width: 50%;
    }
  }

  &-b {
    .contact-info {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }
  }

  &-c {

    h1 {
      color: $main-color;
      text-align: center;
      font-size: 4rem;
    }
  }
}

// Footer
#main-footer {
  background: $dark-color;
  // color: $light-color;
  color: #fff;
  height: 5rem;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Import Media Queries
@import 'media';